
PotatoAdventure.gmx/objects/gui_score.object.gmx
PotatoAdventure.gmx/objects/obj_Rick.object.gmx
PotatoAdventure.gmx/objects/objpai.object.gmx
PotatoAdventure.gmx/Potato Show.project.gmx
PotatoAdventure.gmx/rooms/room0.room.gmx
